In [6]:
#!/usr/bin/env python
# coding: utf-8
import pandas as pd
# import gspread
# from oauth2client.service_account import ServiceAccountCredentials
# from pandas.io.json import json_normalize

In [7]:
df = pd.read_excel("/Users/Jake/Programming/Projects/GatorsBEATWaste/GBW_Data_Collection.xlsx")

In [10]:
df.head()

,Week,Compost,Paper Recycle,Plastic Recycle,Landfill,5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Naming convention for data collection:,Unnamed: 28,Unnamed: 29,"- All words lower-case\n- No apostrophes or punctuation\n- Order: Restaurant, material, item"
0,NaN,napkins,Paper,Empty plastic bottle (no caps),Food scoops,NaN,Weeks,Compost,Paper,Plastic,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,food scraps,notebooks,Empty aluminum cans,Food trays,NaN,Week 1,0.755556,0.148148,0.526316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,drink carrier,coffee sleeve,Empty glass bottles (no caps),Food containers,NaN,Week 2,0.735099,0.194444,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Croutons bowl (NO lid),newspaper,NaN,Plastic drink cups,NaN,Week 3,0.71223,0,0.384615,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Panda wooden chopsticks,magazines,NaN,Croutons lid,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.iloc[1]["Unnamed: 6"]

str

In [ ]:
#Connect to service account
# scope = ['https://spreadsheets.google.com/feeds']

# credentials = ServiceAccountCredentials.from_json_keyfile_name('', scope)

# gc=gspread.authorize(credentials)

# #Get candidate data sheet from Google Drive
# spreadsheet_key = ''
# #Delete spreadsheet key before uploading

# book = gc.open_by_key(spreadsheet_key) 
# worksheet = book.worksheet("Data Analysis 2") 
# table = worksheet.get_all_values()
# print(table)

# table[0][1]

# ##Convert table data into a dataframe
# df = pd.DataFrame(table[1:], columns=table[0])
# # table[1:] means start at first element (not 0th element) and keep going
# df


# # df.iloc(0)

In [1]:
line1 = ",,,,,,,,,,,,,,,,7,foil food wrappers,,,,,,,,,,,,^M                    "
line2 = ",,Number of starbucks items,,,,,,,,,,,,,,10,panda fortune cookie wrapp"
line3 = ",,,,,,,,,,,,,,,,1,wendys plastic fountain drink cup,,,,,,,,,,,,^M     "
line4 = ",,,,,,,,,,,,,,,,24,cup lids,,,,,,,,,,,,^M                             "
line5 = ",,,,,,,,,,,,,,,,1,shakesmart bowl & lid,,,,,,,,,,,,^M                 "
line6 = ",,,,,,,,,,,,,,,,2,side bowl lids,,,,,,,,,,,,^M                        "
line7 = ",,,Unweighted,Weighted,,,,,,,,,,,,1,pollo soup/food bowl,,,,,,,,,,,,^M"
line8 = ",,Compost,71.2%,58.6%,,,,,,,,,,,,1,fortune,,,,,,,,,,,,^M              "

In [4]:
line1_tmp = line1.rstrip()
line1_tmp = line1_tmp.replace("^M", "").replace(",", "")

In [5]:
line1_tmp

',,,,,,,,,,,,,,,,7,foil food wrappers,,,,,,,,,,,,'